.reservation-card {
  background-color: #FFF;
  color: teal;
  padding: 1rem;
  border: 3px solid teal;
  border-radius: 5px;
}

h3 {
  margin: 0;
}

button {
  border: none;
  color: #FFF;
  background-color: teal;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
